{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/homepage.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light sticky-top nav shadow-sm">
        <a class="navbar-brand" href="#">Alexis Kozlowski</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('default') }}">ACCUEIL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('about_me') }}">A PROPOS DE MOI</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary navItem" href="{{ path('contact') }}">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid align-content-center main ">
        <h1 class="text-center">Contact</h1>
    </div>
    <div class="container-fluid listPost">
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2798.1597347972365!2d4.387301315983015!3d45.46658607910101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f5ac71c91bae6d%3A0x999d67dfc4dddfeb!2sMairie+De+Saint-Etienne!5e0!3m2!1sfr!2sfr!4v1552646905819"
                    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="row">
            <div class="container contact-icon">
                <div class="row">
                    <div class="col-sm d-none d-lg-block">
                        <i class="fa fa-location-arrow"></i>
                        <p>Saint-Etienne</p>
                    </div>
                    <div class="col-sm">
                        <i class="fa fa-linkedin"></i>
                        <p>Alexis Kozlowski</p>
                    </div>
                    <div class="col-sm">
                        <i class="fa fa-envelope"></i>
                        <p>alexis.kozlowski43@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container contact-form">
            <form class="form-inline">
                <label class="sr-only" for="inlineFormInputName2">Nom</label>
                <div class="mr-5">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jean Dupont">
                </div>


                <label class="sr-only" for="inlineFormInputGroupUsername2">Email</label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="E-mail">
                </div>
            </form>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Example textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary mb-2">Submit</button>
            </form>
        </div>
    </div>


    <div class="container-fluid footer">
        <ul class="list-group list-group-horizontal">
            <li><a class="list-icon" href="https://github.com/Kozlowski-Alexis"><i class="fa fa-github"></i></a></li>
            <li><a class="list-icon" href="{{ path('contact') }}"><i class="fa fa-envelope"></i></a></li>
            <li><a class="list-icon" href="https://www.linkedin.com/in/alexis-kozlowski-6b7548174/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
        <p class="text-center text-footer">© 2018 Copyright - Alexis Kozlowski</p>
    </div>
{% endblock %}
