{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mr-5" href="#">Admin Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('post_index') }}">Gestion articles<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('project_index') }}">Gestion projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('skill_index') }}">Gestion competences</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('contact_index') }}">Messages</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-danger ml-3" href="{{ path('logout') }}">Se deconnecter</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 style="color: white" class="ml-3 mt-3">Articles</h1>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Message</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.fullname }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.message | slice(0, 30)}}</td>
                    <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a style="color: white" href="{{ path('contact_show', {'id': contact.id}) }}">show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

