{% extends 'base.html.twig' %}

{% block title %}Competence{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/admin.css') }}">
{% endblock %}

{% block body %}

    <h1 style="color: white" class="ml-3 mt-3">Competence</h1>

    <div class="container-fluid table+ shadow-lg">
        <div class="table-responsive">
            <table class="table">
                <thead class="grey lighten-2 shadow">
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Valeur</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{ skill.id }}</th>
                    <td>{{ skill.name }}</td>
                    <td>{{ skill.value }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('skill_edit', {'id': skill.id}) }}">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-outline-dark mt-3" href="{{ path('skill_index') }}">Retour a la liste</a>
        {{ include('skill/_delete_form.html.twig') }}
    </div>

{% endblock %}
